@import url('https://fonts.googleapis.com/css2?family=Buenard:wght@400;700&display=swap');

body {
    font-size: 14px;
    color: #333;
    font-family: 'Buenard', serif;
}
a {
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    &:focus,
    &:visited {
        outline: none;
        box-shadow: none;
    }
}
/*--- HEADER ---*/ 
.header-main {
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    flex-direction: column;
    width: 100%;
    padding: 0;
    .sk-header,
    .sk-navbar {
        width: 100%;
    }
}
.sk-header {
    .sk-header__row {
        display: flex;
        align-items: center;
        padding: 16px 0;
    }
    .sk-header__logo {
        flex: 1%;
        display: block;
        img {
            width: 100%;
            max-width: 250px;
        }
    }
    .sk-header__search {
        flex: 1%;
        justify-content: flex-end;
        display: inline-flex;
    }
}
.sk-search__form {
    .input-group {
        border: 1px solid #cecece;
        border-radius: 8px;
        align-items: center;
        max-width: 250px;
        .form-control {
            border: none;
            padding: 7px 15px;
            border-radius: 8px;
            &:focus {
                box-shadow: none;
                outline: none;
            }
        }
        .input-group-append {
            width: 42px;
            text-align: center;
        }
    }
}
/*--- NAVBAR ---*/ 
.sk-navbar {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    .navbar-nav {
        margin-bottom: 0;
        flex-direction: initial;
        justify-content: center;
        li.nav-item {
            a {
                display: block;
                padding: 15px 20px;
                color: #333;
                font-weight: 500;
                font-size: 16px;
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                transition: all 0.5s ease;
                &:hover {
                    background-color: #B50D0D;
                    color: #FFFFFF;
                }
            }
        }
    }
}
@media (max-width: 991px) {
    .sk-navbar .navbar-nav li.nav-item a {
        padding: 15px 8px;
    }
}
@media (min-width: 768px) {
    .sk-navbar .sk-navbar__content {
        justify-content: center;
        .sk-search__form {
            display: none;
        }
    }
}
@media (max-width: 767px) {
    .sk-header {
        .sk-header__logo {
            flex: none;
            img {
                max-width: 175px;
            }
        }
        .sk-search__form {
            display: none;
        }
        .navbar-toggler {
            font-size: 24px;
            color: #555;
            &:focus,
            &:visited {
                outline: none;
                box-shadow: none;
            }
            &:hover {
                color: #570707;
            }
        }
    }
    .sk-navbar {
        .navbar-nav {
            display: block;
            li.nav-item a {
                padding: 8px;
            }
        }
        .sk-search__form .input-group{
            max-width: 100%;
            margin-top: 16px;
        }
    }
    .nav-mobile-active {
        overflow: hidden;
    }
    .nav-mobile-active .header-main .sk-navbar {
        height: 100vh;
    }
}
/**--- HEADLINE ---*/
section {
    margin-top: 60px;
    &.section-detail {
        margin: 60px;
    }
    .sk-title {
        position: relative;
        padding-bottom: 8px;
        margin-bottom: 40px;
        h2 {
            font-size: 26px;
            font-weight: 600;
            display: table;
            margin: 0 auto;
            padding: 0 20px;
            background-color: #FFFFFF;
        }
        &::after {
            height: 2px;
            background-color: #838383;
            width: 100%;
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            top: 0;
            margin: auto;
            z-index: -2;
        }
    }
    .author-date {
        display: flex;
        align-items: center;
        span {
            display: inline-block;
            color: #333;
            border-left: 1px solid #555;
            padding: 0 10px;
            line-height: 1em;
            &:first-child {
                border-left: none;
                padding-left: 0;
            }
        }
    }
    .img-full {
        width: 100%;
    }
}
.slick-headline {
    width: 100%;
    height: 100%;
    .slick-slide {
        width: 100%;
        height: 100%;
    }
}
.sk-headline {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    &::after {
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 50%;
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.75) 60%, rgba(0,0,0,0) 100%);;
    }
    .sk-headline__desc {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 3;
        padding: 0 30px 60px;
        h3 {
            font-size: 30px;
            color: #FFFFFF;
            font-weight: 700;
            margin-bottom: 10px;
        }
        .author-date {
            border-top: 1px solid #555;
            padding-top: 15px;
            span {
                color: #FFFFFF;
                border-color: #BBBBBB;
            }
        }
    }
}
@media (max-width: 991px) {
    .sk-headline {
        .sk-headline__desc {
            padding-bottom: 40px;
        }
    }
}
@media (max-width: 767px) {
    .sk-headline {
        .sk-headline__desc {
            padding-bottom: 20px;
        }
    }
}
.sk-list__article {
    ul {
        margin-bottom: 0;
        li {
            display: flex;
            margin-top: 20px;
            &:first-child {
                margin-top: 0;
            }
        }
        .img-left {
            display: inline-flex;
            margin-right: 15px;
            img {
                width: 150px;
                height: 150px;
                object-fit: cover;
                object-position: center;
            }
        }
        .desc-right {
            h5 {
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 10px;
                a {
                    color: #333;
                    &:hover {
                        color: #9C0000;
                    }
                }
            }
            p {
                line-height: 1.3em;
                font-size: 15px;
                margin-top: 10px;
            }
        }
    }
}
/* sidebar */ 
.sk-sidebar {
    margin-bottom: 40px;
    &:last-child {
        margin-bottom: 0;
    }
    .sk-title {
        margin-bottom: 20px;
    }
    .sk-list__article ul .img-left img {
        width: 80px;
        height: 80px;
    }
}
@media (max-width: 991px) {
    section {
        margin-top: 40px;
        &.section-detail {
            margin: 40px 0;
        }
        .sk-title {
            margin-bottom: 20px;
            h2 {
                font-size: 22px;
            }
        }
        .sk-sidebar {
            margin-bottom: 30px;
            .sk-list__article ul .img-left img {
                width: 150px;
                height: 150px;
            }
        }
    }
    .sk-headline {
        height: 380px;
        margin-bottom: 30px;
        .sk-headline__desc h3 {
            font-size: 28px;
        }
    }
}
@media (max-width: 767px) {
    section {
        .sk-headline {
            height: 300px;
            &::after {
                height: 75%;
            }
        }
        .sk-sidebar {
            .sk-list__article ul .img-left img {
                width: 100px;
                height: 100px;
            }
            .author-date {
                display: block;
                span {
                    padding: 0;
                    display: block;
                    border: none;
                    line-height: 1.5em;
                }
            }
        }
        &.sk-new__article {
            .sk-list__article ul {
                li {
                    display: block;
                }
                .img-left {
                    display: block;
                    margin: 0;
                    margin-bottom: 15px;
                    img {
                        width: 100%;
                        height: 175px;
                    }
                }
            }
        }
    }
}
/*--- PAGINATION ---*/ 
.sk-pagination {
    .sk-pagination__list {
        margin: 40px 0 60px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        li {
            padding: 0 16px;
            a {
                font-size: 18px;
                font-weight: 600;
                line-height: 1em;
                display: block;
                padding: 5px;
                border-bottom: 2px solid transparent;
                color: #570707;
                &.pagination__arrow {
                    font-size: 14px;
                    border-bottom: none;
                }
            }
            &.active a,
            a:hover {
                color: #B50D0D;
                border-bottom: 2px solid #B50D0D;
            }
            a.pagination__arrow:hover {
                color: #B50D0D;
                border-bottom: none;
            }
        }
    }
}
@media (max-width: 767px) {
    .sk-pagination .sk-pagination__list li a {
        font-size: 16px;
        &.pagination__arrow {
            font-size: 14px;
        }
    }
}
/*--- FOOTER ---*/ 
.sk-footer {
    background-color: #570707;
    padding: 30px 0;
    .sk-footer__logo {
        display: block;
        img {
            max-width: 175px;
            width: 100%;
        }
    }
    .sk-footer__sosmed,
    .sk-footer__nav {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .sk-footer__sosmed {
        margin: 0 -2px;
        li {
            padding: 2px;
        }
        a {
            display: block;
            img {
                width: 35px;
            }
        }
    }
    .sk-footer__nav {
        margin: 8px -16px;
        li a {
            display: block;
            font-weight: 600;
            padding: 8px 16px;
            color: #FFFFFF;
        }
    }
    .sk-footer__cr {
        display: flex;
        justify-content: flex-end;
        color: #FFFFFF;
    }
}
@media (max-width: 767px) {
    .sk-footer {
        .sk-footer__logo {
            text-align: center;
            margin-bottom: 20px;
        }
        .sk-footer__sosmed,
        .sk-footer__nav,
        .sk-footer__cr {
            justify-content: center;
        }
        .sk-footer__nav {
            margin: 10px -5px;
            li a {
                padding: 5px;
            }
        }
    }
}
@media (max-width: 575px) {
    .sk-footer {
        .sk-footer__nav {
            display: block;
            li a {
                text-align: center;
            }
        }
    }
}
/*--- DETAIL PAGE ---*/ 
.sk-headline__detail {
    .sk-hd__img {
        margin-bottom: 20px;
    }
    h3 {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 20px;
    }
}
.sk-detail__bottom {
    border-top: 3px solid #555;
    margin: 30px 0;
    padding: 20px 0;
    .sk-db__header {
        display: flex;
        align-items: center;
    }
    .sk-db__author {
        display: flex;
        align-items: center;
        flex: 1%;
        .author-pp {
            margin-right: 15px;
            img {
                width: 65px;
                height: 65px;
                object-position: center;
                object-fit: cover;
                border-radius: 50%;
            }
        }
        .author-desc {
            h5 {
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 5px;
                line-height: normal;
            }
            span {
                display: block;
                font-size: 12px;
                line-height: normal;
            }
        }
    }
    .sk-db__share {
        min-width: 250px;
        span {
            text-align: center;
            display: block;
            line-height: normal;
            margin-bottom: 10px;
        }
        .sk-db__share_list {
            margin-bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            li a {
                display: block;
                color: #333;
                padding: 0 10px;
                font-size: 18px;
            }
        }
    }
}
.slick-article {
    .slick-arrow {
        text-indent: -99999px;
        z-index: 99;
        font-size: 0;
        border: none;
        outline: none;
        box-shadow: none;
        position: absolute;
        top: 60px;
        height: 30px;
        background-color: transparent;
        background-image: url(../img/arrow.png);
        background-size: 55px;
        padding: 0;
        width: 30px;
        &.slick-prev {
            left: 0;
            background-position: left;
        }
        &.slick-next {
            right: 0;
            background-position: right;
        }
        &.slick-disabled {
            display: none !important;
        }
    }
    .slick-article__item {
        padding: 0 10px;
        img {
            margin: 0 auto;
            vertical-align: middle;
            margin-bottom: 10px;
        }
        h5 {
            font-size: 14px;
            margin-bottom: 0;
            text-align: center;
            a {
                color: #333;
                &:hover {
                    color: #9C0000;
                }
            }
        }
    }
}
/*--- POLLING PAGE ---*/ 
.sk-polling {
    margin: 60px 0;
}
.sk-polling__list {
    margin: -16px;
    .sk-polling__item {
        float: left;
        width: 50%;
        padding: 16px;
        .sk-polling__content {
            border-radius: 12px;
            background-color: #BBBBBB;
            padding: 20px;
        }
        h5 {
            margin-bottom: 0;
            font-size: 24px;
            font-weight: 600;
            text-align: center;
        }
        .sk-polling__chart {
            border-bottom: 2px solid #555;
            margin-bottom: 20px;
            padding-bottom: 20px;
            text-align: center;
            img {
                width: 50%;
            }
        }
    }
}
@media (max-width: 991px) {
    .sk-polling {
        margin: 40px 0;
    }
}